/* base */
html,body{
    height: 100%;
    overflow-x: hidden;
}
svg{
    height: 50px;
    width: 50px;
}
main{
    background-image: url(../bg/victoria-shes-4MEL9XS-3JQ-unsplash-min.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10% 0 15% 0;
}
nav .container-fluid{
    width: 90%;
    margin: 0 auto;
}
.nav-link{
color: white;
}
section{
    width: 90%;
    margin: 0 auto;
}
.card{
    margin-bottom: 15px;
}
.card-title{
    margin: 12px 0;
}
#bg-image-txt{
    margin-left: 5%;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #333333;
    color: white;
    padding: 2%;
}
footer p{
    margin: 0;
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .card{
        width: 45%;
        flex-wrap: wrap;
        margin-bottom: 5%;
    }
    .healthy-recipes, .weight-loss{
        margin-right: 15px;
    }
    main{
        display: flex;
        flex-direction: column;
        padding: 8% 0 4% 0;
    }
    section{
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        align-content:stretch;
        margin-left:5%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body{
        display: block;
    }
    section{
        width: 60%;
    }
    .nav-link{
        color: black;
    }
}
